# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/performance_db/
/performance_mixed_db/
/exception1_db/
/normal_db/
/bin/
/memory_db/
/memory_lock_db/
/close_db/
/example_db/
/removal_db/
/save_lock_db/
/test.zip
